{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<section>
    <img src="{% static 'images/prova_homepage.jpg' %}" alt="News of the month" class="full-width-image">
        <h1 class="center">¡NOVEDADES DE SEPTIEMBRE!</h1>
        <h2>CADA SÁBADO UNA CATA</h2>

        <p>¡Reserva tu lugar por solo 30 euros y prepárate para un viaje a través de España a través de los sabores del vino autóctono durante nuestro evento de degustación de 2 horas, que se lleva a cabo cada sábado. ¡Déjanos llevarte en un recorrido único a través de los matices y sabores únicos de 4 vinos excepcionales, guiados por nuestros expertos enólogos! ¡Haz un viaje en tu viaje con nosotros y descubre la esencia vinícola de España!</p>
</section>
{% endblock content %}